
.logo{
 margin-left: 5px;
  display: flex;
  justify-content: start;

}
#titulologo{
    color: white;
    font-family:  "Basetica Light",sans-serif;
    
}

#bannerhome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image:  url('./components/assets/img/banner.jpg'); 
  background-size:cover;
  background-repeat: no-repeat;
}
#bannercities{
    background-image: url('./components/assets/img/banner2.jpg');
    background-size: cover;
  
}
.colorChange{
  background-color: #fff;
  margin-top: -1vh;
  height: 11vh;
  padding: 0;
  width: 100%;
}
.colorChange.navbar-dark .navbar-brand{
  color: black;
}
.colorChange.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
  color: #AB5D1C;
}
#tituloBanner{
  text-align: center ;
  font-family:  "Basetica Light",sans-serif;
  font-weight: 600;
  font-style: oblique;
  font-size: 4rem;
}
#tituloBanner2{
  text-align: center;
  font-family:  "Wulkan Display Medium",serif;
  font-size: 1.5rem;
}
#div1{
  margin-top: 4vh;
  margin-left: 10vh;

}
#text1{
  color:  black;
  margin-top: 3vh;
  margin-left: 3vh;
  margin-right: 3vh;
  margin-inline-end: 3vh;
  font-size: 3vh;
  text-align: justify ;
  font-family:  "Wulkan Display Medium",serif;
}
#bannerhome2{
  background-image: url(../src/components/assets/img/granca.jpg);
  background-size: cover ;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0,0.5);
}
.overlay{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgb(0, 0, 0,0.5);
}
#imgdiv1{
  margin-left: 15vh;
  
  padding: 10vh;
  border-radius: 5vh;
}
#div2{

  color: #283a2c; 
  font-family:  "Wulkan Display Medium",serif;
  margin-right: 0;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}
#div3{
background-color: #283a2c;
width: 100%;

}
#text3{
  color: white;
  margin-top: 3vh;
  margin-left: 3vh;
  margin-right: 3vh;
  margin-inline-end: 3vh;
  text-align: center;
  font-family:  "Wulkan Display Medium",serif;
  font-size: 1.5rem;
}
#tittlediv{
  color: white;
  margin-top: 5vh;
  text-align: center;
}
#text2 {
  color: black; 
  margin-top: 1vh;
  text-align: center;
  position: absolute;
  top: 9vh;
  font-family: "Wulkan Display Medium", cursive; 
  font-size: 1.5em;
  background-color: #283a2c;
}

#sub3 {
  color: black; 
  margin-top: 5vh;
  text-align: center;
  font-family:  "Basetica Light",sans-serif;
  font-weight: 100;
 
}

#cardshome{
  margin-top: 10vh;
  margin-left: 5vh;
  margin-right: 7vh;
}
.card-title{
  color: #AB5D1C;
  font-family:  "Wulkan Display Medium",serif;
 
}
#cardsCities{
  margin-top: 10vh;
  margin-left: 10vh;
  margin-right: 10vh;
  text-align: center;
}
.card{
  overflow: hidden;
  transition: all .4s ease-out;
  box-shadow: rgb(0, 0, 0,0.2);
}
.card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgb(0, 0, 0,0.2);

}
.btn.btn-primary {
  background-color: #AB5D1C;
  border-color: #AB5D1C;
  color: white;
  text-align: center;
  text-align: center;
  width: 20vh;
  height: 5vh; 
}
footer{
  background-color: #283a2c;
  color: #fff;
    transition: color 0.2s linear;
    font-family: "Wulkan Display Medium",serif;
    margin-top: 5vh;
    text-decoration: none;

}
#contacto{
  margin-top: 5vh;
  margin-left: 10vh;
}

#redes{
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;

}
h6{
  color:#AB5D1C ;
}
#division{
  background-color: #283a2c;
}
h2{
  background-color: #283a2c;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Wulkan Display Medium",serif;
  text-align: center;
  color: white;  
  font-size: 1.5rem;
}
#texthome{
  margin-top: 25vh;
  font-family: "Wulkan Display Medium",serif;
  text-align: center;
  color: white;  
  font-size: 2rem;
  

}
h3{
  margin-top: 5vh;
  font-family: "Wulkan Display Medium",serif;
  text-align: center;
  color: white;
  font-size: large;
}
.col12{
  margin-top: 10vh;
}
#mail{
  color: #fff;
  text-decoration: none;
}
#imgSingup{
  margin-top: 5vh;
  margin-left: 10 vh;
  width: 82vh;
  height: 80vh;
}
.bg{
  background-image: url('./components/assets/img/nys.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bgg{
  background-image: url('./components/assets/img/london.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


 
.text-end{
  margin-top: 8vh;
  margin-right: 10vh;
}
.text-center {
  text-align: center!important;
  font-family: "Wulkan Display Medium",serif;
  color: #AB5D1C;
}
#icons{
  margin-top: 5vh;

}
h4{
  color: #AB5D1C;
  text-align: center;
  font-family: "Wulkan Display Medium",serif;
}
#contentCities{
  margin-top: 5vh;
  margin-left: 10vh;
  margin-right: 10vh;
}
ul{
  color: #AB5D1C;
  text-decoration: none;
}
#links{
  color: #AB5D1C;
  text-decoration: none;
  padding: 2vh;
}
a:hover {
    color: #283a2c;
}
.container{
  margin-top: 10vh;
}
#barra{
 margin-top: 4vh;
}
#lupa{
  color: #283a2c;
}
.list-group-item{
  color: #AB5D1C;
  font-family: "Wulkan Display Medium",serif;
  font-size: medium;

}
#cardcity{
  margin-top: 10vh;
  margin-left: 5vh;
  padding: 0;
}

#cardinteraciones{
  display: flex;
  justify-content: space-between;
}
.likes.btn.btn-transparency{
  width: 18vh;
  height: 5vh;
}
.img{
  width: 100%;
  height: 100%;
  background-color: #AB5D1C;
}
.prueba{
  margin-left: 18vh;
}
#textCountry{
  text-align: center;
}
#topCity{
  background-color: #AB5D1C;
  color: aliceblue;
}
#cardBody{
  padding: 0;
}
#tituloCity{
  color: white;
  background-color: #AB5D1C;

}
.imgCity{
  width: 100%;
  height: 90vh;
}
#pCity{
  margin-top: 2vh;
 text-align: center;
 font-family: "Basetica Light",sans-serif;
  font-size: large;
  font-weight: 200;
}
#divParraf{
  margin-left: 10vh;
  margin-right: 12vh;
}
#cityIcon{
  margin-top: 2vh;
  border-radius: 100%;
  
}
#textIcon{
  color:#AB5D1C;
  font-size: larger;
  margin-left: 2vh;
}
#divIcons{
  margin-top: 2vh;
  margin-left: 35vh;
}

  @media screen and (max-width: 900px) {
    #divIcons{
      margin-left: 20vh;
    }

  }

  


#itinerary{
  margin-top: 5vh;
  font-family:  "Wulkan Display Medium",serif; 
  font-size: xx-large;
  font-weight: 500;
}
#linkUser{
  border-radius: 100%;
}

#imgComments{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 15vh;
  margin-top: 0;
  
  width: 10px;
}
.formComments{
  width: 100%;
}

#cardItinerary{
  margin-left: 50vh;
  margin-top: 5vh;
}
@media screen and (max-width: 900px) {
  #cardItinerary{
    margin-left: 18vh;

  }
  
}
#user{
  border-radius: 100%;
}
#sign{
  background-color: #AB5D1C;
  color: #fff;
}

#buttonSign{
  width: 100%;
  
}
.google{
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  text-align: center;
}   

#comentario-user-tex{
  border-color: #fff;
  background-color: #fff;
}